@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src:
    local('Helvetica Neue'),
    url('../../fonts/HelveticaNeue/HelveticaNeue-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src:
    local('Helvetica Neue'),
    url('../../fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format("woff");
}
