* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent);
}

img {
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
  object-fit: cover;
}

html {
  font-size: 100%;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;

  color: var(--color-default);
  -webkit-overflow-scrolling: touch;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
