.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1100px;
  max-width: 1600px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--color-default);
  margin: 0 auto;
}
