.two-columns {
  display: flex;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  flex-shrink: 0;
}

.two-columns__title {
  font-size: 1.125rem;
  line-height: 1.2;
  color: var(--color-accent);
}

.two-columns__main-text {
  flex-basis: 80%;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-left: 80px;
}

.two-columns__paragraph {

}

.two-columns__paragraph:not(:first-child) {
  margin-top: 30px;
}
